.linkMain{
    width: 100%;
    min-height: 70vh;
    height: auto;
    background-color:#f7f5fa;
}
.link
{
    width: 50%;
    height: 40%;
    margin:auto ;
    background-color: white;
}
.linkDiv
{
    width: 90%;
    height: 40px;
    background-color: red;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 5%;
}
.link h4
{
    padding-left: 5%;
    padding-top: 5%;
}
.line
{
    width: 90%;
    height: 0px;
    margin: auto;
    border-top: 1px solid black;
}