.option
{
    width: 85%;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding: 10px;
}
.disable
{
    display: none;
}
.delete
{
    border: none;
    margin: 5px;
    margin-top: 15px;
    border-radius: 5px;
}
input:focus
{
    outline: none !important;
    border: gray;
    border-color: 2px solid#2a9df4;;
    box-shadow: 0 0 10px #2a9df4;
}
textarea:focus
{
    outline: none !important;
    border: gray;
    border-color: 2px solid#2a9df4;;
    box-shadow: 0 0 10px #2a9df4;
}
.image
{
    width: 30px;
    margin-top: 5px;
    margin-bottom: -10px;
    height: 30px;
}