.optionMain
{
    width: 70%;
    height: auto;
    min-height: 80px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}
.optionHeading
{
    padding: 10px;
    height: auto;
}
.display
{
    display: flex;
    justify-content: space-between;
}